/data/
/raw_data/
JOURNAL.md
.jekyll-cache
sequenceserver/



src/gage/stage.rb*
stage*
site/data/
site/_config.yml

# these files are overwritten each time ruby is run
site/_site/**
#site/_includes/_*

config/sequenceserver/gage_metadata.rb
config/sequenceserver/links.rb
config/sequenceserver/sequenceserver.conf
config/jbrowse/jbrowse.conf 
config/
